#ignore test
test/

#ignore netbeans stuff
nbproject/
build.xml
manifest.mf

#ignore idea stuff
.idea/
out/
*.iml

#ignore Eclipse stuff
.settings/
bin/
.classpath
.project

#assuming we still use gradle
.gradle/
build/

*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/dist/
